<a href="/movies">Go Back</a>
<div style='display:flex; justify-content: flex-start; margin: 20px'>
<div class="media">
<img class="mr-3" src={{movie.image}}/>
</div>
<div class="media-body" style='padding: 0 20px'>
<h1 class="mt-0 mb-1">{{movie.title}}</h1>
<span>Written by: {{movie.director}}</span>
<ul>
    {{#each movie.stars}}
        <li>{{this}}</li>
    {{/each}}
</ul>
<p>Summary: {{movie.description}}</p>
{{#each movie.showtimes}}
    <span>{{this}} | </span>
{{/each}}
</div>
</div>